<h1 class="mt-5 mb-4">Register</h1>

<% if(errorMessage) { %>
<div class="alert alert-danger" role="alert"><%=errorMessage %></div>

<% } %>

<form action="/register" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" />
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" />
    <span>We donot share your email with anyone</span>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <!-- <input type="url" class="form-control" id="imageUrl" name="imageUrl" /> -->

    <input type="password" class="form-control" name="password" id="password" />
    <span>Your password is safe and secure</span>
  </div>

  <button type="submit" class="btn btn-primary">Register</button>

  <p>
    Already have an account ?
    <a class="btn btn-primary" href="/login">Login Here</a>
  </p>
</form>
