@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: auto;
  margin-top: 10vh;
}
img {
  width: 80px;
}
.table td,
.table th {
  padding: 20px;
}
